<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Signup</title>
</head>
<body>
<h2>Signup</h2>
<form method="post" action="/signup">
    <label>Username:</label>
    <label>
        <input type="text" name="username" required />
    </label><br/><br/>
    <label>Password:</label>
    <label>
        <input type="password" name="password" required />
    </label><br/><br/>
    <button type="submit">Signup</button>
</form>
<p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
